# Ignore the virtual environment directory
myenv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore Django migration files
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.py[cod]
**/migrations/*.py
